<!DOCTYPE html>
<%- include('includes/header', data); %>
<body>
<%- include('includes/loader', data); %>
<div class="theme-layout" id="scrollup">

	<%- include('includes/dashboard_responsive_header', data); %>
	<%- include('includes/dashboard_responsive_header__loggedin', data); %>
	<%- include('includes/dashboard_overlape', data); %>

	<section>
		<div class="block remove-top">
			<div class="container">
				<div class="row no-gape">
					<%- include('includes/dashboard__sidebar__menu', data); %>
					<div class="col-lg-9 column" id="vue__app">
						<div class="padding-top mt-3  d-block float-right">
							<div type="button" class="btn btn-primary" @click="submit_data()" >Update</div>
							<p class="text-small text-muted d-block" style="padding-top:5px; font-size:10px; line-height: 12px">
								** You have to update <br />to apply all changes!
							</p>
						</div>
						<div class="padding-left">
							<div class="manage-jobs-sec">
								<!-- EDUCATION -->
								<div class="border-title">
									<h3>Candidates Dashboard</h3>
									<a href="javascript:void(0)" title="" @click="add_education()" >
										<i class="la la-plus" id="addeducation"></i>
										Add Education
									</a>
								</div>
								<div class="edu-history-sec" v-key="candidate._id" v-for="candidate in education">
									<div class="edu-history" >
										<i class="la la-graduation-cap"></i>
										<div class="edu-hisinfo" >
											<h3 :contenteditable="candidate.editable"
												@input="candidate.institution=event.target.value">
												{{ candidate.institution }}
											</h3>
											<i>
												FROM <b @input="candidate.startDate=event.target.value"
														:contenteditable="candidate.editable"
												>{{candidate.startDate}}</b> TO
												<b :contenteditable="candidate.editable"
												   @input="candidate.endDate=event.target.value">{{candidate.endDate}}</b> .
											</i>
											<p>GPA: <b class="d-inline"
													   @input="candidate.gpa=event.target.value"
													   :contenteditable="candidate.editable"> {{candidate.gpa}} </b></p>
											<span :contenteditable="candidate.editable"
												  @input="candidate.area=event.target.value">
												{{candidate.area}}
											</span>
											<h4>Courses</h4>
											<ol>
												<li v-key="index" v-for="(course, index) in candidate.courses">
													<span :contenteditable="candidate.editable"
														  @input="course=event.target.value">{{ course }}</span>
												</li>
											</ol>
											<div v-if="candidate.editable"
												 class="btn btn-success btn-sm btn-fab"
												 @click="candidate.courses.push('New...')">
												<i class="la la-plus "></i> Add New</div>
										</div>
										<div>
											<ul class="action_job">
												<li @click="candidate.editable=!candidate.editable">
													<span v-if="!candidate.editable">Edit</span>
													<span v-else=>Save</span>
													<a>
														<i :class="(candidate.editable) ?'la la-check':'la la-pencil'" ></i>
													</a>
												</li>
												<li @click="remove_education(candidate._id)">
													<span>Delete</span>
													<a href="javascript:void(0)" title="" v-show="!candidate.editable">
														<i class="la la-trash-o"></i>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>

								<!-- WORK -->
								<div class="border-title">
									<h3>Work Experience</h3>
									<a href="javascript:void(0)" title="" @click="add_work()">
										<i class="la la-plus" id="addexperiencebutton"></i> Add Work Experience
									</a>
								</div>
								<div class="edu-history-sec" >
									<div class="edu-history style2"  v-key="candidate._id" v-for="candidate in work">
										<i> </i>
										<div class="edu-hisinfo">
											<h3>
												<i :contenteditable="candidate.editable"
												   @input="candidate.position=event.target.value">
													{{ candidate.position }}
												</i>
												<span :contenteditable="candidate.editable"
													  @input="candidate.company=event.target.value">{{ candidate.company }}</span>
											</h3>
											<p>WEBSITE : <span :contenteditable="candidate.editable"
															   @input="candidate.website=event.target.value">{{ candidate.website }}</span></p>
											<i>
												FROM <b @input="candidate.startDate=event.target.value"
														:contenteditable="candidate.editable"
												>{{candidate.startDate}}</b> TO
												<b :contenteditable="candidate.editable"
												   @input="candidate.endDate=event.target.value">{{candidate.endDate}}</b> .
											</i>

											<p :contenteditable="candidate.editable"
											   @input="candidate.summary=event.target.value"> {{ candidate.summary }} </p>
											<h6>Highlights</h6>
											<ol>
												<li v-key="index" v-for="(highlight, index) in candidate.highlights">
													<span :contenteditable="candidate.editable"
														  @input="highlight=event.target.value">{{ highlight }}</span>
												</li>
											</ol>
											<div v-if="candidate.editable"
												 class="btn btn-success btn-sm btn-fab"
												 @click="candidate.highlights.push('New...')">
												<i class="la la-plus "></i> Add New</div>
										</div>
										<ul class="action_job">
											<li  @click="candidate.editable=!candidate.editable">
												<span v-if="!candidate.editable">Edit</span>
												<span v-else=>Save</span>
												<a href="javascript:void(0)" title="">
													<i :class="(candidate.editable) ?'la la-check':'la la-pencil'"></i>
												</a>
											</li>
											<li @click="remove_work(candidate._id)">
												<span>Delete</span>
												<a href="javascript:void(0)" title="" v-show="!candidate.editable">
													<i class="la la-trash-o"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>

								<!-- VOLUNTEERING -->
								<div class="border-title">
									<h3>Volunteering</h3>
									<a href="javascript:void(0)" title="" @click="add_volunteer()">
										<i class="la la-plus" ></i> Add Volunteering Experience
									</a>
								</div>
								<div class="edu-history-sec" >
									<div class="edu-history style2"  v-key="candidate._id" v-for="candidate in volunteer">
										<i> </i>
										<div class="edu-hisinfo">
											<h3>
												<i :contenteditable="candidate.editable"
												   @input="candidate.position=event.target.value">
													{{ candidate.position }}
												</i>
												<span :contenteditable="candidate.editable"
													  @input="candidate.organization=event.target.value">{{ candidate.organization }}</span>
											</h3>
											<p>WEBSITE : <span :contenteditable="candidate.editable"
															   @input="candidate.website=event.target.value">{{ candidate.website }}</span></p>
											<p><i>
													FROM <b @input="candidate.startDate=event.target.value"
															:contenteditable="candidate.editable"
													>{{candidate.startDate}}</b> TO
													<b :contenteditable="candidate.editable"
													   @input="candidate.endDate=event.target.value">{{candidate.endDate}}</b> .
												</i></p>

											<p><span :contenteditable="candidate.editable"
													 @input="candidate.summary=event.target.value"> {{ candidate.summary }} </span></p>
											<br />
											<h6>Highlights</h6>
											<ol class="d-block">
												<li v-key="index" v-for="(highlight, index) in candidate.highlights">
													<span :contenteditable="candidate.editable"
														  @input="highlight=event.target.value">{{ highlight }}</span>
												</li>
											</ol>
											<div v-if="candidate.editable"
												 class="btn btn-success btn-sm btn-fab"
												 @click="candidate.highlights.push('New...')">
												<i class="la la-plus "></i> Add New</div>
										</div>
										<ul class="action_job">
											<li  @click="candidate.editable=!candidate.editable">
												<span v-if="!candidate.editable">Edit</span>
												<span v-else=>Save</span>
												<a href="javascript:void(0)" title="">
													<i :class="(candidate.editable) ?'la la-check':'la la-pencil'"></i>
												</a>
											</li>
											<li @click="remove_volunteer(candidate._id)">
												<span>Delete</span>
												<a href="javascript:void(0)" title="" v-show="!candidate.editable">
													<i class="la la-trash-o"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>

								<!-- awards -->
								<div class="border-title">
									<h3>Awards</h3>
									<a href="javascript:void(0)" title="" @click="add_awards()">
										<i class="la la-plus" ></i> Add Award
									</a>
								</div>
								<div class="edu-history-sec" >
									<div class="edu-history style2"  v-key="candidate._id" v-for="candidate in awards">
										<div class="edu-hisinfo">
											<h3>
												<i :contenteditable="candidate.editable"
												   @input="candidate.title=event.target.value">
													{{ candidate.title }}
												</i>
											</h3>
											<p><i>
													DATED <b @input="candidate.date=event.target.value"
															 :contenteditable="candidate.editable"
													>{{candidate.date}}</b>.
												</i></p>

											<h6>AWARDER : <span :contenteditable="candidate.editable"
																@input="candidate.awarder=event.target.value"> {{ candidate.awarder }} </span></h6>
											<p><span :contenteditable="candidate.editable"
													 @input="candidate.summary=event.target.value"> {{ candidate.summary }} </span></p>
										</div>
										<ul class="action_job">
											<li  @click="candidate.editable=!candidate.editable">
												<span v-if="!candidate.editable">Edit</span>
												<span v-else=>Save</span>
												<a href="javascript:void(0)" title="">
													<i :class="(candidate.editable) ?'la la-check':'la la-pencil'"></i>
												</a>
											</li>
											<li @click="remove_awards(candidate._id)">
												<span>Delete</span>
												<a href="javascript:void(0)" title="" v-show="!candidate.editable">
													<i class="la la-trash-o"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>

								<!-- publications -->
								<div class="border-title">
									<h3>Publications</h3>
									<a href="javascript:void(0)" title="" @click="add_publications()">
										<i class="la la-plus" ></i> Add Publications
									</a>
								</div>
								<div class="edu-history-sec" >
									<div class="edu-history style2"  v-key="candidate._id" v-for="candidate in publications">
										<div class="edu-hisinfo">
											<h3>
												<i :contenteditable="candidate.editable"
												   @input="candidate.name=event.target.value">
													{{ candidate.name }}
												</i>
											</h3>
											<p><i>
													Publisher: <b @input="candidate.publisher=event.target.value"
																  :contenteditable="candidate.editable"
													>{{candidate.publisher}}</b>.
												</i></p>
											<p><i>
													Released Date <b @input="candidate.releaseDate=event.target.value"
																	 :contenteditable="candidate.editable"
													>{{candidate.releaseDate}}</b>.
												</i></p>

											<h6>Website : <span :contenteditable="candidate.editable"
																@input="candidate.website=event.target.value"> {{ candidate.website }} </span></h6>
											<p><span :contenteditable="candidate.editable"
													 @input="candidate.summary=event.target.value"> {{ candidate.summary }} </span></p>
										</div>
										<ul class="action_job">
											<li  @click="candidate.editable=!candidate.editable">
												<span v-if="!candidate.editable">Edit</span>
												<span v-else=>Save</span>
												<a href="javascript:void(0)" title="">
													<i :class="(candidate.editable) ?'la la-check':'la la-pencil'"></i>
												</a>
											</li>
											<li @click="remove_publications(candidate._id)">
												<span>Delete</span>
												<a href="javascript:void(0)" title="" v-show="!candidate.editable">
													<i class="la la-trash-o"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>

								<!-- skills -->
								<div class="border-title">
									<h3>Publications</h3>
									<a href="javascript:void(0)" title="" @click="add_skills()">
										<i class="la la-plus" ></i> Add Skills
									</a>
								</div>
								<div class="edu-history-sec" >
									<div class="edu-history style2"  v-key="candidate._id" v-for="candidate in skills">
										<div class="edu-hisinfo">
											<h3>
												<i :contenteditable="candidate.editable"
												   @input="candidate.name=event.target.value">
													{{ candidate.name }}
												</i>
											</h3>
											<p><i>
													Level: <b @input="candidate.level=event.target.value"
															  :contenteditable="candidate.editable"
													>{{candidate.level}}</b>.
												</i></p>
											<h6>Highlights</h6>
											<ol class="d-block">
												<li v-key="index" v-for="(keyword, index) in candidate.keywords">
													<span :contenteditable="candidate.editable"
														  @input="keyword=event.target.value">{{ keyword }}</span>
												</li>
											</ol>
											<div v-if="candidate.editable"
												 class="btn btn-success btn-sm btn-fab"
												 @click="candidate.keywords.push('New...')">
												<i class="la la-plus "></i> Add New </div>
										</div>
										<ul class="action_job">
											<li  @click="candidate.editable=!candidate.editable">
												<span v-if="!candidate.editable">Edit</span>
												<span v-else=>Save</span>
												<a href="javascript:void(0)" title="">
													<i :class="(candidate.editable) ?'la la-check':'la la-pencil'"></i>
												</a>
											</li>
											<li @click="remove_skills(candidate._id)">
												<span>Delete</span>
												<a href="javascript:void(0)" title="" v-show="!candidate.editable">
													<i class="la la-trash-o"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>

								<!-- languages -->
								<div class="border-title">
									<h3>Languages</h3>
									<a href="javascript:void(0)" title="" @click="add_languages()">
										<i class="la la-plus" ></i> Add Languages
									</a>
								</div>
								<div class="edu-history-sec" >
									<div class="edu-history style2"  v-key="candidate._id" v-for="candidate in languages">
										<div class="edu-hisinfo">
											<h3>
												<i :contenteditable="candidate.editable"
												   @input="candidate.language=event.target.value">
													{{ candidate.language }}
												</i>
											</h3>
											<p><i>
													Fluency: <b @input="candidate.fluency=event.target.value"
															  :contenteditable="candidate.editable"
													>{{candidate.fluency}}</b>.
												</i></p>
										</div>
										<ul class="action_job">
											<li  @click="candidate.editable=!candidate.editable">
												<span v-if="!candidate.editable">Edit</span>
												<span v-else=>Save</span>
												<a href="javascript:void(0)" title="">
													<i :class="(candidate.editable) ?'la la-check':'la la-pencil'"></i>
												</a>
											</li>
											<li @click="remove_languages(candidate._id)">
												<span>Delete</span>
												<a href="javascript:void(0)" title="" v-show="!candidate.editable">
													<i class="la la-trash-o"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>

								<!-- interests -->
								<div class="border-title">
									<h3>Interests</h3>
									<a href="javascript:void(0)" title="" @click="add_interests()">
										<i class="la la-plus" ></i> Add Interests
									</a>
								</div>
								<div class="edu-history-sec" >
									<div class="edu-history style2"  v-key="candidate._id" v-for="candidate in interests">
										<div class="edu-hisinfo">
											<h3>
												<i :contenteditable="candidate.editable"
												   @input="candidate.name=event.target.value">
													{{ candidate.name }}
												</i>
											</h3>
											<h6>keywords</h6>
											<ol class="d-block">
												<li v-key="index" v-for="(keyword, index) in candidate.keywords">
													<span :contenteditable="candidate.editable"
														  @input="keyword=event.target.value">{{ keyword }}</span>
												</li>
											</ol>
											<div v-if="candidate.editable"
												 class="btn btn-success btn-sm btn-fab"
												 @click="candidate.keywords.push('New...')">
												<i class="la la-plus "></i> Add New </div>
										</div>
										<ul class="action_job">
											<li  @click="candidate.editable=!candidate.editable">
												<span v-if="!candidate.editable">Edit</span>
												<span v-else=>Save</span>
												<a href="javascript:void(0)" title="">
													<i :class="(candidate.editable) ?'la la-check':'la la-pencil'"></i>
												</a>
											</li>
											<li @click="remove_interests(candidate._id)">
												<span>Delete</span>
												<a href="javascript:void(0)" title="" v-show="!candidate.editable">
													<i class="la la-trash-o"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>

								<!-- references -->
								<div class="border-title">
									<h3>References</h3>
									<a href="javascript:void(0)" title="" @click="add_references()">
										<i class="la la-plus" ></i> Add Reference
									</a>
								</div>
								<div class="edu-history-sec" >
									<div class="edu-history style2"  v-key="candidate._id" v-for="candidate in references">
										<div class="edu-hisinfo">
											<h3>
												<i :contenteditable="candidate.editable"
												   @input="candidate.name=event.target.value">
													{{ candidate.name }}
												</i>
											</h3>
											<p><span :contenteditable="candidate.editable=!candidate.editable"
													 @input="candidate.reference=event.target.value"
												>{{ candidate.reference }}</span></p>
										</div>
										<ul class="action_job">
											<li  @click="candidate.editable=!candidate.editable">
												<span v-if="!candidate.editable">Edit</span>
												<span v-else=>Save</span>
												<a href="javascript:void(0)" title="">
													<i :class="(candidate.editable) ?'la la-check':'la la-pencil'"></i>
												</a>
											</li>
											<li @click="remove_reference(candidate._id)">
												<span>Delete</span>
												<a href="javascript:void(0)" title="" v-show="!candidate.editable">
													<i class="la la-trash-o"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>


							</div>
						</div>
						<div class="padding-top mt-3  d-block float-right">
							<div type="button" class="btn btn-primary" @click="submit_data()" >Update</div>
							<p class="text-small text-muted d-block" style="padding-top:5px; font-size:10px; line-height: 12px">
								** You have to update <br />to apply all changes!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<%- include('includes/footer', data); %>
</div>
<%- include('includes/profile_sidebar', data); %>

<!-- Profile Sidebar -->
<div class="view-resumesec">
	<div class="view-resumes">
		<span class="close-resume-popup"><i class="la la-check"></i></span>
		<h3>13 Times Viewed By 8 Companies.</h3>
		<div class="job-listing wtabs">
			<div class="job-title-sec">
				<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
				<h3><a href="#" title="">Web Designer / Developer</a></h3>
				<span>Massimo Artemisis</span>
				<div class="job-lctn">Sacramento, California</div>
			</div>
			<span class="date-resume">11.02.2017</span>
		</div><!-- Job -->
		<div class="job-listing wtabs">
			<div class="job-title-sec">
				<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
				<h3><a href="#" title="">C Developer (Senior) C .Net</a></h3>
				<span>Massimo Artemisis</span>
				<div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
			</div>
			<span class="date-resume">11.02.2017</span>
		</div><!-- Job -->
		<div class="job-listing wtabs">
			<div class="job-title-sec">
				<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
				<h3><a href="#" title="">Web Designer / Developer</a></h3>
				<span>Massimo Artemisis</span>
				<div class="job-lctn">Sacramento, California</div>
			</div>
			<span class="date-resume">11.02.2017</span>
		</div><!-- Job -->
		<div class="job-listing wtabs">
			<div class="job-title-sec">
				<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
				<h3><a href="#" title="">Web Designer / Developer</a></h3>
				<span>Massimo Artemisis</span>
				<div class="job-lctn">Sacramento, California</div>
			</div>
			<span class="date-resume">11.02.2017</span>
		</div><!-- Job -->
	</div>
</div>
<div class="follow-companiesec">
	<div class="follow-companies">
		<span class="close-follow-company"><i class="la la-check"></i></span>
		<h3>Follow Companies.</h3>
		<ul id="scrollbar">
			<li>
				<div class="job-listing wtabs">
					<div class="job-title-sec">
						<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
						<h3><a href="#" title="">Web Designer / Developer</a></h3>
						<div class="job-lctn">Sacramento, California</div>
					</div>
					<a href="#" title="" class="go-unfollow">Unfollow</a>
				</div><!-- Job -->
			</li>
			<li>
				<div class="job-listing wtabs">
					<div class="job-title-sec">
						<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
						<h3><a href="#" title="">Tix Dog</a></h3>
						<div class="job-lctn">Sacramento, California</div>
					</div>
					<a href="#" title="" class="go-unfollow">Unfollow</a>
				</div><!-- Job -->
			</li>
			<li>
				<div class="job-listing wtabs">
					<div class="job-title-sec">
						<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
						<h3><a href="#" title="">StarHealth</a></h3>
						<div class="job-lctn">Sacramento, California</div>
					</div>
					<a href="#" title="" class="go-unfollow">Unfollow</a>
				</div><!-- Job -->
			</li>
			<li>
				<div class="job-listing wtabs">
					<div class="job-title-sec">
						<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
						<h3><a href="#" title="">Altes Bank</a></h3>
						<div class="job-lctn">Sacramento, California</div>
					</div>
					<a href="#" title="" class="go-unfollow">Unfollow</a>
				</div><!-- Job -->
			</li>
			<li>
				<div class="job-listing wtabs">
					<div class="job-title-sec">
						<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
						<h3><a href="#" title="">StarHealth</a></h3>
						<div class="job-lctn">Sacramento, California</div>
					</div>
					<a href="#" title="" class="go-unfollow">Unfollow</a>
				</div><!-- Job -->
			</li>
			<li>
				<div class="job-listing wtabs">
					<div class="job-title-sec">
						<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
						<h3><a href="#" title="">Altes Bank</a></h3>
						<div class="job-lctn">Sacramento, California</div>
					</div>
					<a href="#" title="" class="go-unfollow">Unfollow</a>
				</div><!-- Job -->
			</li>
		</ul>
	</div>
</div>

<script src="/js/vue.js" type="text/javascript"></script>
<%- include('includes/scripts', data); %>

<script>
	document.addEventListener('DOMContentLoaded', function(){

		const x = <%- data.resume %>; /* noqa:* */	/* will display JSON */
		const _m = function(arr){
			return arr.map( obj => Object.assign({}, obj, {editable: false}))
		}
		window.vueApp = new Vue({
			el: '#vue__app',
			methods: {
				generate_dummy_id: function(){ return this.dummy_id++ },
				add_education: function(){
					this.education.push({
						"institution": "Add University ",
						"area": "Add Department",
						"studyType": "Cource Persued",
						"startDate": "YYYY-MM-DD",
						"endDate": "YYYY-MM-DD",
						"gpa": "4.0",
						"courses": [],
						editable:true,
						"_id": this.generate_dummy_id()
					})
				},
				remove_education: function(id){
					this.education = this.education.filter(function(candidate){
						return candidate._id !== id
					});
				},

				add_work: function(){
					this.work.push({
						"company": "Pied Piper",
						"position": "CEO/President",
						"website": "http://piedpiper.com",
						"startDate": "2013-12-01",
						"endDate": "2014-12-01",
						"summary": "Pied Piper is a multi-platform technology based on a proprietary universal compression algorithm that has consistently fielded high Weisman Scores™ that are not merely competitive, but approach the theoretical limit of lossless compression.",
						"highlights": [
							"Build an algorithm for artist to detect if their music was violating copy right infringement laws",
							"Successfully won Techcrunch Disrupt",
							"Optimized an algorithm that holds the current world record for Weisman Scores"
						],
						editable: true,
						"_id":this.generate_dummy_id()
					})
				},
				remove_work: function(id){
					this.work = this.work.filter(function(candidate){
						return candidate._id !== id
					});
				},

				add_professional_skills: function(){
					this.professional_skills.push({
						id: this.generate_dummy_id(),
						editable: true,
						title: 'Enter Professional Skill Title...',
						description: 'Enter Professional Skill Description...',
						percentage: 80,
					})
				},
				remove_professional_skills: function(id){
					this.professional_skills = this.professional_skills.filter(function(candidate){
						return candidate._id !== id;
					});
				},

				add_additional_skills: function(){
					this.additional_skills.push({
						id: this.generate_dummy_id(),
						editable: true,
						year_from: 'YYYY',
						title: 'Enter Work Title...',
						description: 'Enter Work Description...',
					})
				},
				remove_additional_skills: function(id){
					this.additional_skills = this.additional_skills.filter(function(candidate){
						return candidate._id !== id;
					});
				},

				add_volunteer: function(){
					this.volunteer.push({
						"organization": "CoderDojo",
						"position": "Teacher",
						"website": "http://coderdojo.com/",
						"startDate": "2012-01-01",
						"endDate": "2013-01-01",
						"summary": "Global movement of free coding clubs for young people.",
						"highlights": [
							"Awarded 'Teacher of the Month'"
						],
						_id: this.generate_dummy_id(),
						editable: true,
					})
				},
				remove_volunteer: function(id){
					this.volunteer = this.volunteer.filter(function(candidate){
						return candidate._id !== id;
					});
				},

				add_awards: function(){
					this.awards.push({
						"title": "Add Title",
						"date": "YYYY-MM-DD",
						"awarder": "Awarder",
						"summary": "Summery...",
						_id: this.generate_dummy_id(),
						editable: true,
					})
				},
				remove_awards: function(id){
					this.awards = this.awards.filter(function(candidate){
						return candidate._id !== id;
					});
				},

				add_publications: function(){
					this.publications.push({
						"name": "Video compression for 3d media",
						"publisher": "Hooli",
						"releaseDate": "2014-10-01",
						"website": "http://en.wikipedia.org/wiki/Silicon_Valley_(TV_series)",
						"summary": "Innovative middle-out compression algorithm that changes the way we store data.",
						_id: this.generate_dummy_id(),
						editable: true,
					})
				},
				remove_publications: function(id){
					this.publications = this.publications.filter(function(candidate){
						return candidate._id !== id;
					});
				},


				add_skills: function(){
					this.skills.push({
						"name": "Video compression for 3d media",
						"publisher": "Hooli",
						"releaseDate": "2014-10-01",
						"website": "http://en.wikipedia.org/wiki/Silicon_Valley_(TV_series)",
						"summary": "Innovative middle-out compression algorithm that changes the way we store data.",
						_id: this.generate_dummy_id(),
						editable: true,
					})
				},
				remove_skills: function(id){
					this.skills = this.skills.filter(function(candidate){
						return candidate._id !== id;
					});
				},

				add_languages: function(){
					this.languages.push({
						"language": "English",
						"fluency": "Native speaker",
						_id: this.generate_dummy_id(),
						editable: true,
					})
				},
				remove_languages: function(id){
					this.languages = this.languages.filter(function(candidate){
						return candidate._id !== id;
					});
				},

				add_interests: function(){
					this.interests.push({
						"name": "Wildlife",
						"keywords": [
							"Ferrets",
							"Unicorns"
						],
						_id: this.generate_dummy_id(),
						editable: true,
					})
				},
				remove_interests: function(id){
					this.interests = this.interests.filter(function(candidate){
						return candidate._id !== id;
					});
				},

				add_references: function(){
					this.references.push({
						"name": "Erlich Bachman",
						"reference": "It is my pleasure to recommend Richard, his performance working as a consultant for Main St. Company proved that he will be a valuable addition to any company.",
						_id: this.generate_dummy_id(),
						editable: true,
					})
				},
				remove_references: function(id){
					this.references = this.references.filter(function(candidate){
						return candidate._id !== id;
					});
				},

				validate_data: function(){
					return true;
				},
				submit_data: function (){
					if (this.validate_data()){
						let self = this;
						fetch('/candidate/updateCandidateProfile', {
							method: 'POST', mode: 'cors',
							body: JSON.stringify({
								education: self.education,
								work: self.work,
								professional_skills:self.professional_skills,
								additional_skills: self.additional_skills
							}),
							headers: {
								'Content-Type':'application/json',
								'Accept':'application/json',
							},
							credentials:'include',
						}).then(function(r) { return r.json()} ).then(function(r){
							console.log(r);
							swal("Data Submitted!", "", "success");
							// window.location.reload();
						}).catch(function (e){
							self.handle_errors('-')
						})
					}else{
						this.handle_errors(fields);
					}
				},
				handle_errors(field) {
					swal("Please Fill all the fields. ", ", ".join(field), "danger");
				}
			},
			data : {
				// user: null,
				dummy_id: x.dummy_id || 100100,
				basics: x.basics,
				_id: x._id || null,
				created_at: x.created_at ,
				candidateId: x.candidateId,

				education: _m(x.education),
				work: _m(x.work),
				volunteer: _m(x.volunteer),
				skills: _m(x.skills) ,
				awards: _m(x.awards) ,
				publications: _m(x.publications),
				languages: _m(x.languages) ,
				interests: _m(x.interests) ,
				references: _m(x.references) ,

			}

		});
	})

</script>
</body>
</html>

