<!DOCTYPE html>
<%- include('includes/header', data); %>
<body>
<%- include('includes/loader', data); %>
<div class="theme-layout" id="scrollup">

	<%- include('includes/dashboard_responsive_header', data); %>
	<%- include('includes/dashboard_responsive_header__loggedin', data); %>
	<%- include('includes/dashboard_overlape', data); %>

	<section>
		<div class="block remove-top">
			<div class="container">
				<div class="row no-gape">
					<%- include('includes/dashboard__sidebar__menu', data); %>
					<div class="col-lg-9 column" id="vue__app">
						<div class="padding-top mt-3  d-block float-right">
							<div type="button" class="btn btn-primary" @click="submit_data()" >Update</div>
							<p class="text-small text-muted d-block" style="padding-top:5px; font-size:10px; line-height: 12px">
								** You have to update <br />to apply all changes!
							</p>
						</div>
						<div class="padding-left">
							<div class="manage-jobs-sec">
								<div class="border-title">
									<h3>Candidates Dashboard</h3>
									<a href="javascript:void(0)" title="" @click="add_candidate_dashboard()" >
										<i class="la la-plus" id="addeducation"></i>
										Add Education
									</a>
								</div>
								<div class="edu-history-sec" v-key="candidate.id" v-for="candidate in candidates_dashboard">
									<div class="edu-history" >
										<i class="la la-graduation-cap"></i>
										<div class="edu-hisinfo" >
											<h3 :contenteditable="candidate.editable"
												@input="candidate.institution=event.target.value">
												{{ candidate.institution }}
											</h3>
											<i>
												<b @input="candidate.year_from=event.target.value"
												   :contenteditable="candidate.editable"
												>{{candidate.year_from}}</b> -
												<b :contenteditable="candidate.editable"
												   @input="candidate.year_to=event.target.value">{{candidate.year_to}}</b>
											</i>
											<span :contenteditable="candidate.editable"
												  @input="candidate.title=event.target.value">
												{{candidate.title}}
											</span>
											<p :contenteditable="candidate.editable"
											   @input="candidate.description=event.target.value">{{candidate.description}}
											</p>
										</div>
										<ul class="action_job">
											<li @click="candidate.editable=!candidate.editable">
												<span v-if="!candidate.editable">Edit</span>
												<span v-else=>Save</span>
												<a href="javascript:void(0)" title="">
													<i :class="(candidate.editable) ?'la la-check':'la la-pencil'" id="editeducationbutton"></i>
												</a>
											</li>
											<li @click="remove_candidate_dashboard(candidate.id)">
												<span>Delete</span>
												<a href="javascript:void(0)" title="" v-show="!candidate.editable">
													<i class="la la-trash-o"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="border-title">
									<h3>Work Experience</h3>
									<a href="javascript:void(0)" title="" @click="add_work_experience()">
										<i class="la la-plus" id="addexperiencebutton"></i> Add Experience
									</a>
								</div>

								<div class="edu-history-sec" id="workexperiencediv">
									<div class="edu-history style2"  v-key="candidate.id" v-for="candidate in work_experience">
										<i> </i>
										<div class="edu-hisinfo">
											<h3>
												<i :contenteditable="candidate.editable"
												   @input="candidate.title=event.target.value">{{ candidate.title }}</i>
												<span :contenteditable="candidate.editable"
													  @input="candidate.institution=event.target.value">{{ candidate.institution }}</span>
											</h3>
											<i ><span :contenteditable="candidate.editable"
													  @input="candidate.year_from=event.target.value">{{ candidate.year_from }}</span> -
												<span :contenteditable="candidate.editable"
													  @input="candidate.year_to=event.target.value">{{ candidate.year_to }}</span></i>
											<p :contenteditable="candidate.editable"
											   @input="candidate.description=event.target.value"> {{ candidate.description }} </p>
										</div>
										<ul class="action_job">
											<li  @click="candidate.editable=!candidate.editable">
												<span v-if="!candidate.editable">Edit</span>
												<span v-else=>Save</span>
												<a href="javascript:void(0)" title="">
													<i :class="(candidate.editable) ?'la la-check':'la la-pencil'" id="editeducationbutton"></i>
												</a>
											</li>
											<li @click="remove_work_experience(candidate.id)">
												<span>Delete</span>
												<a href="javascript:void(0)" title="" v-show="!candidate.editable">
													<i class="la la-trash-o"></i>
												</a>
											</li>
										</ul>
									</div>

								</div>
								<!-- <div class="border-title"><h3>Portfolio</h3><a href="#" title=""><i class="la la-plus"></i> Add Portfolio</a></div>
                                <div class="mini-portfolio">
                                    <div class="mp-row">
                                        <div class="mp-col">
                                            <div class="mportolio"><img src="http://placehold.it/165x115" alt="" /><a href="#" title=""><i class="la la-search"></i></a></div>
                                            <ul class="action_job">
                                               <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                               <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="mp-col">
                                            <div class="mportolio"><img src="http://placehold.it/165x115" alt="" /><a href="#" title=""><i class="la la-search"></i></a></div>
                                            <ul class="action_job">
                                            <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                            <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                        </ul>
                                        </div>
                                        <div class="mp-col">
                                            <div class="mportolio"><img src="http://placehold.it/165x115" alt="" /><a href="#" title=""><i class="la la-search"></i></a></div>
                                            <ul class="action_job">
                                            <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                            <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                        </ul>
                                        </div>
                                        <div class="mp-col">
                                            <div class="mportolio"><img src="http://placehold.it/165x115" alt="" /><a href="#" title=""><i class="la la-search"></i></a></div>
                                            <ul class="action_job">
                                            <li><span>Edit</span><a href="#" title=""><i class="la la-pencil"></i></a></li>
                                            <li><span>Delete</span><a href="#" title=""><i class="la la-trash-o"></i></a></li>
                                        </ul>
                                        </div>
                                    </div>
                                </div> -->
								<div class="border-title">
									<h3>Professional Skills</h3>
									<a href="javascript:void(0)" @click="add_professional_skills()" title="">
										<i class="la la-plus" id ="addSkillbutton"></i> Add Skills
									</a>
								</div>
								<div class="progress-sec" >
									<div class="progress-sec with-edit"  v-key="candidate.id" v-for="candidate in professional_skills">
										<span  :contenteditable="candidate.editable"
											   @input="candidate.title = event.target.value">{{ candidate.title }}</span>
										<div class="progressbar" >
											<div class="progress" v-if="!candidate.editable"
												 :style="{'width': candidate.percentage.toString().concat('%')}">
												<span>{{ candidate.percentage }}%</span>
											</div>
											<div v-else>
												<input type="range" class="form-control"
													   style="margin-top:-12px"
													   v-model="candidate.percentage" />
												<span>{{ candidate.percentage }}%</span>
											</div>
										</div>
										<ul class="action_job">
											<li @click="candidate.editable=!candidate.editable">
												<span v-if="!candidate.editable">Edit</span>
												<span v-else=>Save</span>
												<a href="javascript:void(0)" title="">
													<i :class="(candidate.editable) ?'la la-check':'la la-pencil'" id="editeducationbutton"></i>
												</a>
											</li>
											<li @click="remove_professional_skills(candidate.id)">
												<span>Delete</span>
												<a href="javascript:void(0)" title="" v-show="!candidate.editable">
													<i class="la la-trash-o"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="border-title">
									<h3>Additional Skills</h3>
									<a href="javascript:void(0)"  @click="add_additional_skills()" title="">
										<i class="la la-plus" id=""></i> Add Skills
									</a>
								</div>
								<div class="edu-history-sec">
									<div class="edu-history style2" v-key="candidate.id" v-for="candidate in additional_skills">
										<i></i>
										<div class="edu-hisinfo">
											<h3  :contenteditable="candidate.editable">Perfect Attendance Programs</h3>
											<i>
												<b :contenteditable="candidate.editable" @input="candidate.year_from = event.target.value">{{ candidate.year_from }}</b> -
												<b :contenteditable="candidate.editable" @input="candidate.year_to = event.target.value">{{ candidate.year_to }}</b>
											</i>
											<p :contenteditable="candidate.editable" @input="candidate.description = event.target.value">
												{{ candidate.description }}</p>
										</div>
										<ul class="action_job">
											<li @click="candidate.editable=!candidate.editable">
												<span v-if="!candidate.editable">Edit</span>
												<span v-else=>Save</span>
												<a href="javascript:void(0)" title="">
													<i :class="(candidate.editable) ?'la la-check':'la la-pencil'" id="editeducationbutton"></i>
												</a>
											</li>
											<li @click="remove_additional_skills(candidate.id)">
												<span>Delete</span>
												<a href="javascript:void(0)" title="" v-show="!candidate.editable">
													<i class="la la-trash-o"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="padding-top mt-3  d-block float-right">
							<div type="button" class="btn btn-primary" @click="submit_data()" >Update</div>
							<p class="text-small text-muted d-block" style="padding-top:5px; font-size:10px; line-height: 12px">
								** You have to update <br />to apply all changes!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<%- include('includes/footer', data); %>
</div>
<%- include('includes/profile_sidebar', data); %>

<!-- Profile Sidebar -->
<div class="view-resumesec">
	<div class="view-resumes">
		<span class="close-resume-popup"><i class="la la-check"></i></span>
		<h3>13 Times Viewed By 8 Companies.</h3>
		<div class="job-listing wtabs">
			<div class="job-title-sec">
				<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
				<h3><a href="#" title="">Web Designer / Developer</a></h3>
				<span>Massimo Artemisis</span>
				<div class="job-lctn">Sacramento, California</div>
			</div>
			<span class="date-resume">11.02.2017</span>
		</div><!-- Job -->
		<div class="job-listing wtabs">
			<div class="job-title-sec">
				<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
				<h3><a href="#" title="">C Developer (Senior) C .Net</a></h3>
				<span>Massimo Artemisis</span>
				<div class="job-lctn"><i class="la la-map-marker"></i>Sacramento, California</div>
			</div>
			<span class="date-resume">11.02.2017</span>
		</div><!-- Job -->
		<div class="job-listing wtabs">
			<div class="job-title-sec">
				<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
				<h3><a href="#" title="">Web Designer / Developer</a></h3>
				<span>Massimo Artemisis</span>
				<div class="job-lctn">Sacramento, California</div>
			</div>
			<span class="date-resume">11.02.2017</span>
		</div><!-- Job -->
		<div class="job-listing wtabs">
			<div class="job-title-sec">
				<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
				<h3><a href="#" title="">Web Designer / Developer</a></h3>
				<span>Massimo Artemisis</span>
				<div class="job-lctn">Sacramento, California</div>
			</div>
			<span class="date-resume">11.02.2017</span>
		</div><!-- Job -->
	</div>
</div>
<div class="follow-companiesec">
	<div class="follow-companies">
		<span class="close-follow-company"><i class="la la-check"></i></span>
		<h3>Follow Companies.</h3>
		<ul id="scrollbar">
			<li>
				<div class="job-listing wtabs">
					<div class="job-title-sec">
						<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
						<h3><a href="#" title="">Web Designer / Developer</a></h3>
						<div class="job-lctn">Sacramento, California</div>
					</div>
					<a href="#" title="" class="go-unfollow">Unfollow</a>
				</div><!-- Job -->
			</li>
			<li>
				<div class="job-listing wtabs">
					<div class="job-title-sec">
						<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
						<h3><a href="#" title="">Tix Dog</a></h3>
						<div class="job-lctn">Sacramento, California</div>
					</div>
					<a href="#" title="" class="go-unfollow">Unfollow</a>
				</div><!-- Job -->
			</li>
			<li>
				<div class="job-listing wtabs">
					<div class="job-title-sec">
						<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
						<h3><a href="#" title="">StarHealth</a></h3>
						<div class="job-lctn">Sacramento, California</div>
					</div>
					<a href="#" title="" class="go-unfollow">Unfollow</a>
				</div><!-- Job -->
			</li>
			<li>
				<div class="job-listing wtabs">
					<div class="job-title-sec">
						<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
						<h3><a href="#" title="">Altes Bank</a></h3>
						<div class="job-lctn">Sacramento, California</div>
					</div>
					<a href="#" title="" class="go-unfollow">Unfollow</a>
				</div><!-- Job -->
			</li>
			<li>
				<div class="job-listing wtabs">
					<div class="job-title-sec">
						<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
						<h3><a href="#" title="">StarHealth</a></h3>
						<div class="job-lctn">Sacramento, California</div>
					</div>
					<a href="#" title="" class="go-unfollow">Unfollow</a>
				</div><!-- Job -->
			</li>
			<li>
				<div class="job-listing wtabs">
					<div class="job-title-sec">
						<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
						<h3><a href="#" title="">Altes Bank</a></h3>
						<div class="job-lctn">Sacramento, California</div>
					</div>
					<a href="#" title="" class="go-unfollow">Unfollow</a>
				</div><!-- Job -->
			</li>
		</ul>
	</div>
</div>

<script src="/js/vue.js" type="text/javascript"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<%- include('includes/scripts', data); %>

<script>
	document.addEventListener('DOMContentLoaded', function(){
		window.vueApp = new Vue({
			el: '#vue__app',
			data : {
				// user: null,
				dummy_id: 100100,
				candidates_dashboard:[{
					id: 121,
					editable: false,
					institution: 'University',
					year_from: '2008',
					year_to: '2012',
					title: 'Middle East Technical University Computer Science.',
					description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
				},{
					id: 122,
					editable: false,
					institution: 'University',
					vdate_from: '2008',
					vdate_to: '2012',
					title: 'Middle East Technical University Computer Science.',
					description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
				},{
					id: 123,
					editable: false,
					institution: 'University',
					year_from: '2008',
					year_to: '2012',
					title: 'Middle East Technical University Computer Science.',
					description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
				}
				],
				work_experience:[{
					id: 1021,
					editable: false,
					institution: 'Web Designer',
					year_from: '2008',
					year_to: '2012',
					title: 'Inwave Studio.',
					description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
				},{
					id: 1022,
					editable: false,
					institution: 'Web Designer',
					vdate_from: '2008',
					vdate_to: '2012',
					title: 'Inwave Studio.',
					description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a ipsum tellus. Interdum et malesuada fames ac ante ipsum primis in faucibus.',
				}],
				professional_skills:[{
					id: 1830,
					editable: false,
					year_from: 'YYYY',
					title: 'Enter Skill Title...',
					description: 'Enter Skill Description...',
					percentage: 80,
				},{
					id: 1832,
					editable: false,
					year_from: 'YYYY',
					title: 'Enter Skill Title...',
					description: 'Enter Skill Description...',
					percentage: 70,
				},
				],
				additional_skills:[{
					id: 1630,
					editable: false,
					year_from: 'YYYY',
					description: 'Enter Work Description...',
					title: 'Enter Additional Skill Title...',
				},{
					id: 1632,
					editable: false,
					year_from: 'YYYY',
					title: 'Enter  Additional Skill Title...',
					description: 'Enter Additional Skill Description...',
				}],
			},
			methods: {
				generate_dummy_id: function(){ return this.dummy_id++ },
				add_candidate_dashboard: function(){
					this.candidates_dashboard.push({
						id: this.generate_dummy_id(),
						editable: true,
						institution: 'Enter University ... ',
						year_from: 'YYYY',
						year_to: 'YYYY',
						title: 'Enter Education Title...',
						description: 'Enter Education Description...',
					})
				},
				remove_candidate_dashboard: function(id){
					this.candidates_dashboard = this.candidates_dashboard.filter(function(candidate){
						return candidate.id !== id
					});
				},

				add_work_experience: function(){
					this.work_experience.push({
						id: this.generate_dummy_id(),
						editable: true,
						institution: 'Enter Institution ... ',
						year_from: 'YYYY',
						year_to: 'YYYY',
						title: 'Enter Work Title...',
						description: 'Enter Work Description...',
					})
				},
				remove_work_experience: function(id){
					this.work_experience = this.work_experience.filter(function(candidate){
						return candidate.id !== id
					});
				},

				add_professional_skills: function(){
					this.professional_skills.push({
						id: this.generate_dummy_id(),
						editable: true,
						title: 'Enter Professional Skill Title...',
						description: 'Enter Professional Skill Description...',
						percentage: 80,
					})
				},
				remove_professional_skills: function(id){
					this.professional_skills = this.professional_skills.filter(function(candidate){
						return candidate.id !== id;
					});
				},
				add_additional_skills: function(){
					this.additional_skills.push({
						id: this.generate_dummy_id(),
						editable: true,
						year_from: 'YYYY',
						title: 'Enter Work Title...',
						description: 'Enter Work Description...',
					})
				},
				remove_additional_skills: function(id){
					this.additional_skills = this.additional_skills.filter(function(candidate){
						return candidate.id !== id;
					});
				},

				validate_data: function(){
					return true;
				},
				submit_data: function (){
					if (this.validate_data()){
						let self = this;
<<<<<<< HEAD
						fetch('/api/v1/updateCandidateProfile', {
							method: 'POST', mode: 'cors', 
							body: JSON.stringify({candidates_dashboard: self.candidates_dashboard, 
							work_experience: self.work_experience,
							professional_skills:self.professional_skills,
							additional_skills: self.additional_skills
=======
						fetch('/candidate/updateCandidateProfile', {
							method: 'POST', mode: 'cors',
							body: JSON.stringify({
								candidates_dashboard: self.candidates_dashboard,
								work_experience: self.work_experience,
								professional_skills:self.professional_skills,
								additional_skills: self.additional_skills
>>>>>>> origin/bugfix__01
							}),
							headers: {
								'Content-Type':'application/json',
								'Accept':'application/json',
							},
							credentials:'include',
						}).then(function(r) { return r.json()} ).then(function(r){
							console.log(r);
							swal("Data Submitted!", "", "success");
								// window.location.reload();
						}).catch(function (e){
							self.handle_errors('-')
						})
					}else{
						this.handle_errors(fields);
					}
				},
				handle_errors(field) {
					swal("Please Fill all the fields. ", ", ".join(field), "danger");
				}
			}

		})
	})

</script>
</body>
</html>

