<!DOCTYPE html>
<%- include('includes/header', data); %>
<body>
<%- include('includes/loader', data); %>
<div class="theme-layout" id="scrollup">
	<%- include('includes/dashboard_responsive_header', data); %>
	<%- include('includes/dashboard_responsive_header__loggedin', data); %>
	<%- include('includes/dashboard_overlape', data); %>

	<section>
		<div class="block no-padding">
			<div class="container">
				<div class="row no-gape">
					<%- include('includes/dashboard__sidebar__menu', data); %>
					<div class="col-lg-9 column">
						<div class="padding-left">
							<div class="manage-jobs-sec">
								<h3>Change Password</h3>
								<div class="change-password">
									<form>
										<div class="row">
											<div class="col-lg-6">
												<span class="pf-title">Old Password</span>
												<div class="pf-field">
													<input type="password" name = "oldPassword" required/>
												</div>
												<span class="pf-title">New Password</span>
												<div class="pf-field">
													<input type="password" name = "newPassword" required />
												</div>
												<span class="pf-title">Confirm Password</span>
												<div class="pf-field">
													<input type="password" name = "confirmPassword" required/>
												</div>
												<button type="submit">Update</button>
											</div>
											<div class="col-lg-6">
												<i class="la la-key big-icon"></i>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<%- include('includes/footer', data); %>


</div>


<%- include('includes/profile_sidebar', data); %>
<%- include('includes/scripts', data); %>
</body>
</html>

