<!DOCTYPE html>
<%- include('includes/header', data); %>
<body>
<%- include('includes/loader', data); %>
<div class="theme-layout" id="scrollup">
	<%- include('includes/dashboard_responsive_header', data); %>
	<header class="stick-top">
		<div class="menu-sec">
			<div class="container">
				<div class="logo">
					<a href="index.html" title=""><img src="http://placehold.it/178x40" alt="" /></a>
				</div><!-- Logo -->
				<div class="my-profiles-sec">
					<span><img src="http://placehold.it/50x50" alt="" /> <%=data.fullName%> <i class="la la-bars"></i></span>
				</div>
				<div class="wishlist-dropsec">
					<span><i class="la la-heart"></i><strong>3</strong></span>
					<div class="wishlist-dropdown">
						<ul class="scrollbar">
							<li>
								<div class="job-listing">
									<div class="job-title-sec">
										<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
										<h3><a href="#" title="">Web Designer / Developer</a></h3>
										<span>Massimo Artemisis</span>
									</div>
								</div>
								<!-- Job -->
							</li>
							<li>
								<div class="job-listing">
									<div class="job-title-sec">
										<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
										<h3><a href="#" title="">C Developer (Senior) C .Net</a></h3>
										<span>StarHealth</span>
									</div>
								</div>
								<!-- Job -->
							</li>
							<li>
								<div class="job-listing">
									<div class="job-title-sec">
										<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
										<h3><a href="#" title="">Marketing Director</a></h3>
										<span>Tix Dog</span>
									</div>
								</div>
								<!-- Job -->
							</li>
							<li>
								<div class="job-listing">
									<div class="job-title-sec">
										<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
										<h3><a href="#" title="">Web Designer / Developer</a></h3>
										<span>Massimo Artemisis</span>
									</div>
								</div>
								<!-- Job -->
							</li>
							<li>
								<div class="job-listing">
									<div class="job-title-sec">
										<div class="c-logo"> <img src="http://placehold.it/98x51" alt="" /> </div>
										<h3><a href="#" title="">Web Designer / Developer</a></h3>
										<span>Massimo Artemisis</span>
									</div>
								</div>
								<!-- Job -->
							</li>
						</ul>
					</div>
				</div>
				<nav>
					<ul>
						<li >
							<a href="#" title="">Home</a>
						</li>
					</ul>
				</nav><!-- Menus -->
			</div>
		</div>
	</header>

	<%- include('includes/dashboard_overlape', data); %>
	<section>
		<div class="block no-padding">
			<div class="container">
				 <div class="row no-gape">
					 <%- include('includes/dashboard__sidebar__menu', data); %>

					 <div class="col-lg-9 column">
				 		<div class="padding-left">
					 		<div class="profile-title" hidden>
					 			<h3>My Profile</h3>
					 			<div class="upload-img-bar">
					 				<span class="round"><img src="http://placehold.it/140x140" alt="" /><i>x</i></span>
					 				<div class="upload-info">
					 					<a href="#" title="">Browse</a>
					 					<span>Max file size is 1MB, Minimum dimension: 270x210 And Suitable files are .jpg & .png</span>
					 				</div>
					 			</div>
					 			<div class="upload-img-bar" >
					 				<span class="round"><img src="http://placehold.it/140x140" alt="" /><i>x</i></span>
					 				<div class="upload-info">
					 					<a href="#" title="">Browse</a>
					 					<span>Max file size is 1MB, Minimum dimension: 270x210 And Suitable files are .jpg & .png</span>
					 				</div>
					 			</div>
					 		</div>
					 		<div class="profile-form-edit">
					 			<form action="updatecandidate" method="POST">
					 				<div class="row">
					 					<div class="col-lg-12">
					 						<span class="pf-title">Full Name</span>
					 						<div class="pf-field">
					 							<input type="text" name="fullName" value='<%=data.fullName%>' placeholder="<%=data.fullName%>" />
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Job Title</span>
					 						<div class="pf-field">
					 							<input type="text" name="jobTitle" value='<%=data.jobTitle%>' placeholder="UX / UI Designer" />
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Allow In Search</span>
					 						<div class="pf-field">
					 							<select data-placeholder="Allow In Search" class="chosen">
													<option name="allowinsearch" value="yes">Yes</option>
													<option name="allowinsearch" value="no">No</option>
												</select>
					 						</div>
					 					</div>
					 					<div class="col-lg-6" hidden>
					 						<span class="pf-title">Minimum Salary</span>
					 						<div class="pf-field">
					 							<input type="text" name="minimumSalary" value='<%=data.minimumSalary%>'  placeholder="$4250" />
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Experience (In Years)</span>
					 						<div class="pf-field">
												<input type="number" name="experience" value='<%=data.experience%>' placeholder="1 Years" />
											</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Age</span>
											 <div class="pf-field">
												<input type="number" name="age" value='<%=data.age%>' placeholder="10" />
											</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Current Salary($) min</span>
					 						<div class="pf-field">
<!--					 							<input type="text" name="currentSalaryMin" value='< %=data.currentSalaryMin% >' placeholder="20K" />-->
												<select data-placeholder="Current Salary" class="chosen">
													<option name="currentSalaryMin" value="0-5000">0 - 5000</option>
													<option name="currentSalaryMin" value="5000-10000">5000-10000</option>
													<option name="currentSalaryMin" value="10000-15000">10000-15000</option>
													<option name="currentSalaryMin" value="15000-20000">15000-20000</option>
													<option name="currentSalaryMin" value="20000-25000">20000-25000</option>
													<option name="currentSalaryMin" value="25000-30000">25000-30000</option>
													<option name="currentSalaryMin" value="30000-40000">30000-40000</option>
													<option name="currentSalaryMin" value="40000-50000">40000-50000</option>
													<option name="currentSalaryMin" value="50000-60000">50000-60000</option>
													<option name="currentSalaryMin" value="60000-80000">60000-80000</option>
													<option name="currentSalaryMin" value="80000-100000">80000-100000</option>
													<option name="currentSalaryMin" value="10000-150000">10000-150000</option>
													<option name="currentSalaryMin" value=">150000"> > 150000</option>
												</select>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Expected Salary($) min</span>
					 						<div class="pf-field">
<!--					 							<input type="text" name="expectedSalMin" value='<%=data.expectedSalMin%>' placeholder="30k" />-->
												<select data-placeholder="Expected Salary" class="chosen" >
													<option name="expectedSalMin" value="0-5000" <% if(data.expectedSalMin == '0-5000'){%> selected <% } %> >0 - 5000</option>
													<option name="expectedSalMin" value="5000-10000" <% if(data.expectedSalMin == '0-5000'){%> selected <% } %> >5000-10000</option>
													<option name="expectedSalMin" value="10000-15000" <% if(data.expectedSalMin == '0-5000'){%> selected <% } %> >10000-15000</option>
													<option name="expectedSalMin" value="15000-20000" <% if(data.expectedSalMin == '0-5000'){%> selected <% } %> >15000-20000</option>
													<option name="expectedSalMin" value="20000-25000" <% if(data.expectedSalMin == '0-5000'){%> selected <% } %> >20000-25000</option>
													<option name="expectedSalMin" value="25000-30000" <% if(data.expectedSalMin == '0-5000'){%> selected <% } %> >25000-30000</option>
													<option name="expectedSalMin" value="30000-40000" <% if(data.expectedSalMin == '30000-40000'){%> selected <% } %> >30000-40000</option>
													<option name="expectedSalMin" value="40000-50000" <% if(data.expectedSalMin == '40000-50000'){%> selected <% } %> >40000-50000</option>
													<option name="expectedSalMin" value="50000-60000" <% if(data.expectedSalMin == '50000-60000'){%> selected <% } %> >50000-60000</option>
													<option name="expectedSalMin" value="60000-80000" <% if(data.expectedSalMin == '60000-80000'){%> selected <% } %> >60000-80000</option>
													<option name="expectedSalMin" value="80000-100000 <% if(data.expectedSalMin == '80000-100000'){%> selected <% } %> ">80000-100000</option>
													<option name="expectedSalMin" value="10000-150000 <% if(data.expectedSalMin == '100000-150000'){%> selected <% } %> ">100000-150000</option>
													<option name="expectedSalMin" value=">150000"  <% if(data.expectedSalMin == '> 150000'){%> selected <% } %> > > 150000</option>
												</select>

											</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Education Levels</span>
					 						<div class="pf-field">
					 							<select data-placeholder="Please Select Specialism" class="chosen">
													<option name="educationlevel" value="Inter">Inter</option>
													<option name="educationlevel" value="Diploma">Diploma</option>
													<option name="educationlevel" value="Bachelor">Bachelor</option>
													<option name="educationlevel" value="Graduate">Graduate</option>
												</select>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Languages</span>					 						
					 						<div class="pf-field">
						 						<div class="pf-field">
						 							<input placeholder="Please Select Specialism" type="text" class="" name="languages" />
						 						</div>
											</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<span class="pf-title">Categories</span>					 						
					 						<div class="pf-field no-margin">
						 						<ul class="tags">
										           <li class="addedTag">Photoshop<span onclick="$(this).parent().remove();" class="tagRemove">x</span><input type="hidden" name="tags[]" value="Photoshop"></li>
										           <li class="addedTag">Digital & Creative<span onclick="$(this).parent().remove();" class="tagRemove">x</span><input type="hidden" name="tags[]" value="Digital"></li>
										           <li class="addedTag">Agency<span onclick="$(this).parent().remove();" class="tagRemove">x</span><input type="hidden" name="tags[]" value="Agency"></li>
							            			<li class="tagAdd taglist">  
							              				 <input type="text"  id="search-field">
										            </li>
												</ul>
											</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<span class="pf-title">Description</span>
					 						<div class="pf-field">
					 							<textarea name="description" value='<%=data.description%>'>Spent several years working on sheep on Wall Street. Had moderate success investing in Yugos on Wall Street. Managed a small team buying and selling pogo sticks for farmers. Spent several years licensing licorice in West Palm Beach, FL. Developed severalnew methods for working with banjos in the aftermarket. Spent a weekend importing banjos in West Palm Beach, FL.In this position, the Software Engineer ollaborates with Evention's Development team to continuously enhance our current software solutions as well as create new solutions to eliminate the back-office operations and management challenges present</textarea>
					 						</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<button type="submit">Update</button>
					 					</div>
					 				</div>
					 			</form>
					 		</div>
					 		<div class="social-edit">
					 			<h3>Social Edit</h3>
					 			<form action="updatecandidate" method="POST">
									<div class="row">
					 					<div class="col-lg-6">
					 						<span class="pf-title">Facebook</span>
					 						<div class="pf-field">
					 							<input type="text" name="fb" value="<%=data.fb%>" placeholder="www.facebook.com/TeraPlaner" />
					 							<i class="fa fa-facebook"></i>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Twitter</span>
					 						<div class="pf-field">
					 							<input type="text" name="twitter" value="<%=data.twitter%>" placeholder="www.twitter.com/TeraPlaner" />
					 							<i class="fa fa-twitter"></i>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Google</span>
					 						<div class="pf-field">
					 							<input type="text" name="google" value="<%=data.google%>"  placeholder="www.google-plus.com/TeraPlaner" />
					 							<i class="la la-google"></i>
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Linkedin</span>
					 						<div class="pf-field">
					 							<input type="text" name="linkedin" value="<%=data.linkedin%>"  placeholder="www.Linkedin.com/TeraPlaner" />
					 							<i class="la la-linkedin"></i>
					 						</div>
					 					</div>
									 </div>
									 <div class="col-lg-12">
										<button class = "profile-form-edit" type="submit">Update</button>
									</div>
					 			</form>
					 		</div>
					 		<div class="contact-edit">
					 			<h3>Contact</h3>
					 			<form action="updatecandidate" method="POST">
									<div class="row">
					 					<div class="col-lg-4">
					 						<span class="pf-title">Phone Number</span>
					 						<div class="pf-field">
					 							<input type="text" name="phone_number" value="<%=data.phone_number%>" placeholder="+90 538 963 58 96" />
					 						</div>
					 					</div>
					 					<div class="col-lg-4">
					 						<span class="pf-title">Email</span>
					 						<div class="pf-field">
					 							<input type="text" name="email" value="<%=data.email%>"  placeholder="demo@jobhunt.com" />
					 						</div>
					 					</div>
					 					<div class="col-lg-4">
					 						<span class="pf-title">Website</span>
					 						<div class="pf-field">
					 							<input type="text" name="website" value="<%=data.website%>"  placeholder="www.jobhun.com" />
					 						</div>
										 </div>
										 <div class="col-lg-4">
											<span class="pf-title">User Name </span>
											<div class="pf-field">
												<input type="text" name="userName" value="<%=data.userName%>"  placeholder="Ali Jawan" />
											</div>
										</div>
										<div class="col-lg-4">
											<span class="pf-title">City</span>
											<div class="pf-field">
												<input name="city" placeholder="Enter City"  type="text" />
											</div>
										</div>
					 					<div class="col-lg-4">
					 						<span class="pf-title">Country</span>
					 						<div class="pf-field">
					 							<select data-placeholder="Please Select Specialism" name="country" class="chosen">
													<option name="country" value="India" 	<% if(data.country == 'India'){ %> selected <% } %>>India</option>
													<option name="country" value="Pakistan" <% if(data.country == 'Pakistan'){ %> selected <% } %>>Pakistan</option>
													<option name="country" value="Dubai" 	<% if(data.country == 'Dubai'){ %> selected <% } %>>Dubai</option>
													<option name="country" value="America" 	<% if(data.country == 'America'){ %> selected <% } %>>America</option>
												</select>
					 						</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<button type="submit">Update</button>
					 					</div>
					 				</div>
					 			</form>
					 		</div>
					 	</div>
					</div>
				 </div>
			</div>
		</div>
	</section>
	<%- include('includes/footer', data); %>
</div>

<%- include('includes/profile_sidebar', data); %>
<%- include('includes/scripts', data); %>

</body>
</html>

