<!DOCTYPE html>
<%- include('includes/header', data); %>
<body>
<%- include('includes/loader', data); %>
<div class="theme-layout" id="scrollup">

    <%- include('includes/dashboard_responsive_header', data); %>
    <%- include('includes/dashboard_responsive_header__loggedin', data); %>
    <%- include('includes/dashboard_overlape', data); %>

    <section>
        <div class="block less-top">
            <div class="container">
                <div class="row">
                    <%- include('includes/dashboard__sidebar__menu__employer', data); %>
                    <div class="col-lg-9 column">
                        <div class="filterbar">
                            <p>Total of 145 Employer</p>
                            <div class="sortby-sec">
                                <span>Sort by</span>
                                <select data-placeholder="20 Per Page" class="chosen">
                                    <option>30 Per Page</option>
                                    <option>40 Per Page</option>
                                    <option>50 Per Page</option>
                                    <option>60 Per Page</option>
                                </select>
                            </div>
                        </div>
                        <div class="alpha-pag">
                            <a href="#" title="" class="active">ALL</a><a href="#" title="">A</a><a href="#" title="">B</a><a href="#" title="">C</a><a href="#" title="">D</a><a href="#" title="">E</a><a href="#" title="">F</a><a href="#" title="">G</a><a href="#" title="">H</a><a href="#" title="">I</a><a href="#" title="">J</a><a href="#" title="">K</a><a href="#" title="">L</a><a href="#" title="">M</a><a href="#" title="">N</a><a href="#" title="">O</a><a href="#" title="">P</a><a href="#" title="">Q</a><a href="#" title="">R</a><a href="#" title="">S</a><a href="#" title="">T</a><a href="#" title="">U</a><a href="#" title="">V</a><a href="#" title="">W</a><a href="#" title="">X</a><a href="#" title="">Y</a><a href="#" title="">Z</a>
                        </div>
                        <div class="emply-list-sec style2">
                            <div class="emply-list">
                                <div class="emply-list-thumb">
                                    <a href="#" title=""><img src="http://placehold.it/80x80" alt="" /></a>
                                </div>
                                <div class="emply-list-info">
                                    <div class="emply-pstn">4 Open Position</div>
                                    <h3><a href="#" title="">King LLC</a></h3>
                                    <span>Accountancy, Human Resources</span>
                                    <h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
                                    <p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
                                </div>
                            </div><!-- Employe List -->
                            <div class="emply-list">
                                <div class="emply-list-thumb">
                                    <a href="#" title=""><img src="http://placehold.it/80x80" alt="" /></a>
                                </div>
                                <div class="emply-list-info">
                                    <div class="emply-pstn">4 Open Position</div>
                                    <h3><a href="#" title="">Telimed</a></h3>
                                    <span>Accounting Assistant, Arts, Design, and Media</span>
                                    <h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
                                    <p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
                                </div>
                            </div><!-- Employe List -->
                            <div class="emply-list">
                                <div class="emply-list-thumb">
                                    <a href="#" title=""><img src="http://placehold.it/80x80" alt="" /></a>
                                </div>
                                <div class="emply-list-info">
                                    <div class="emply-pstn">4 Open Position</div>
                                    <h3><a href="#" title="">Ucess</a></h3>
                                    <span>Arts, Design, and Media, Web Developer</span>
                                    <h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
                                    <p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
                                </div>
                            </div><!-- Employe List -->
                            <div class="emply-list">
                                <div class="emply-list-thumb">
                                    <a href="#" title=""><img src="http://placehold.it/80x80" alt="" /></a>
                                </div>
                                <div class="emply-list-info">
                                    <div class="emply-pstn">4 Open Position</div>
                                    <h3><a href="#" title="">Airbnb</a></h3>
                                    <span>Arts, Design, and Media</span>
                                    <h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
                                    <p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
                                </div>
                            </div><!-- Employe List -->
                            <div class="emply-list">
                                <div class="emply-list-thumb">
                                    <a href="#" title=""><img src="http://placehold.it/80x80" alt="" /></a>
                                </div>
                                <div class="emply-list-info">
                                    <div class="emply-pstn">4 Open Position</div>
                                    <h3><a href="#" title="">TeraPlaner</a></h3>
                                    <span>Financial Services, Sales & Marketing</span>
                                    <h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
                                    <p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
                                </div>
                            </div><!-- Employe List -->
                            <div class="emply-list">
                                <div class="emply-list-thumb">
                                    <a href="#" title=""><img src="http://placehold.it/80x80" alt="" /></a>
                                </div>
                                <div class="emply-list-info">
                                    <div class="emply-pstn">4 Open Position</div>
                                    <h3><a href="#" title="">King LLC</a></h3>
                                    <span>Accountancy, Human Resources</span>
                                    <h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
                                    <p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
                                </div>
                            </div><!-- Employe List -->
                            <div class="emply-list">
                                <div class="emply-list-thumb">
                                    <a href="#" title=""><img src="http://placehold.it/80x80" alt="" /></a>
                                </div>
                                <div class="emply-list-info">
                                    <div class="emply-pstn">4 Open Position</div>
                                    <h3><a href="#" title="">King LLC</a></h3>
                                    <span>Accountancy, Human Resources</span>
                                    <h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
                                    <p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
                                </div>
                            </div><!-- Employe List -->
                            <div class="pagination">
                                <ul>
                                    <li class="prev"><a href=""><i class="la la-long-arrow-left"></i> Prev</a></li>
                                    <li><a href="">1</a></li>
                                    <li class="active"><a href="">2</a></li>
                                    <li><a href="">3</a></li>
                                    <li><span class="delimeter">...</span></li>
                                    <li><a href="">14</a></li>
                                    <li class="next"><a href="">Next <i class="la la-long-arrow-right"></i></a></li>
                                </ul>
                            </div><!-- Pagination -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('includes/footer', data); %>

</div>
<%= include('includes/scripts'); %>
</body>
</html>

