<div class="profile-sidebar">
    <span class="close-profile"><i class="la la-close"></i></span>
    <div class="can-detail-s">
        <% if(data && data.fullName) { %>
        <div class="cst"><img src="http://placehold.it/145x145" alt="" /></div>
        <h3><%=data.fullName%></h3>
        <span><i><%=data.jobTitle%></i> </span>
        <p><%=data.email%></p>
        <p>Member Since, <%=data.created_at%></p>
        <p><i class="la la-map-marker"></i><%=data.country%> / <%=data.city%></p>
        <% }  %>
    </div>
</div>
<!-- Profile Sidebar -->